{% extends 'base.html.twig' %}

{% block title %}New Med{% endblock %}

{% block body %}
    <h1>Create new Med</h1>

    {{ include('med/_form.html.twig') }}

    <a href="{{ path('app_med_index') }}">back to list</a>
{% endblock %}
